.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .button-container {
    position: relative;
    text-align: center;
  }
  
  .button-container:hover .text-white {
    background-color: #a1a1aa;
    color: #ffffff;
    border-radius: 8px;
  }
  
  .dropdown-container .dropdown-content {
    display: none;
    position: absolute;
    background-color: #a1a1aa;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    top: 100%;
    z-index: 1000;
    width:140px
  }
  
  .dropdown-container:hover .dropdown-content {
    display: block;
  }
  